* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-image: url(/images/img.png);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    flex-wrap: wrap;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 24px;
}

.navbar .nav-links li a {
    color: hsl(0, 0%, 50%);
    font-size: 1.2em;
    text-decoration: none;
}

.navbar .nav-links li a:hover {
    color: hsl(0, 0%, 40%);;
}

.navbar button {
    width: 108px;
    height: 48px;
    border: none;
    border-radius: 12px;
    color: white;
    background-color: hsl(0, 0%, 12%);
    font-size: 18px;
    cursor: pointer;
}

.navbar button:hover {
    background-color: hsl(0, 0%, 15%);
}

.text {
    width: 826px;
    height: 248px;
    margin: auto;
    text-align: center;
    padding: 40px 16px;
}

.text p {
    font-size: 4em;
    color: white;
    font-weight: 900;
}

.text button {
    width: 186px;
    height: 52px;
    font-size: 20px;
    margin-top: 80px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.text button:hover {
    background-color: hsl(0, 0%, 80%);
}

.login-container {
    padding: 30px;
    width: 300px;
    text-align: center;
    margin: 100px auto;
}

.login-container h2 {
    margin-bottom: 20px;
    color: hsl(0, 0%, 50%);
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: hsl(0, 0%, 40%);
    border: none;
    color: azure;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 18px;
}

.login-container button:hover {
    background-color: #00c6fb;
}

.about-container {
    padding: 30px;
    width: 500px;
    text-align: center;
    margin: 100px auto;
}

.about-container h2 {
    margin-bottom: 20px;
    color: white;
    font-size: 50px;
}

.about-container p {
    font-size: 35px;
    text-align: center;
    color: white;
}

.services {
    margin: 50px auto;
    text-align: center;
}

.services h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: white;
}

.services-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.services-card {
    padding: 25px;
    width: 280px;
    border: 1px solid black;
    border-radius: 12px;
    cursor: pointer;
}

.services-card:hover {
    transform: scale(1.05);
}

.services-card h3 {
    font-size: 22px;
    margin-bottom: 15px;
    color: white;
}

.services-card p {
    color: white;
}