* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-image: url(/images/img.png);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 24px;
}

.navbar .nav-links li a {
    color: hsl(0, 0%, 50%);
    font-size: 1.2em;
    text-decoration: none;
}

.navbar .nav-links li a:hover {
    color: hsl(0, 0%, 40%);;
}

.navbar button {
    width: 108px;
    height: 48px;
    border: none;
    border-radius: 12px;
    color: white;
    background-color: hsl(0, 0%, 12%);
    font-size: 18px;
    cursor: pointer;
}

.navbar button:hover {
    background-color: hsl(0, 0%, 15%);
}

.text {
    width: 826px;
    height: 248px;
    margin: auto;
    text-align: center;
    padding: 40px 16px;
}

.text p {
    font-size: 4em;
    color: white;
    font-weight: 900;
}

.text button {
    width: 186px;
    height: 52px;
    font-size: 20px;
    margin-top: 80px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.text button:hover {
    background-color: hsl(0, 0%, 80%);
}

.login-container {
    padding: 30px;
    width: 300px;
    text-align: center;
    margin: 100px auto;
}

.login-container h2 {
    margin-bottom: 20px;
    color: hsl(0, 0%, 50%);
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: hsl(0, 0%, 40%);
    border: none;
    color: azure;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 18px;
}

.login-container button:hover {
    background-color: #00c6fb;
}